@tailwind base;
@tailwind components;
@tailwind utilities;
.glass-card {
  background:rgba(63, 141, 15, 0.05);
  border: 1px solid rgba(54, 155, 45, 0.2);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 1rem;
  padding: 1.5rem;
  color: black;
}